version: '3'
services:

  db:
    image: percona:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
    networks:
      default:
        aliases:
          - db

  app1:
    image: nginxdemos/hello
    container_name: app1
    networks:
      default:
        aliases:
          - app1

  app2:
    image: nginxdemos/hello
    container_name: app2
    networks:
      default:
        aliases:
          - app2

  nginx:
    image: nginx:latest
    container_name: lb
    environment:
      NGINX_CONFIG: |
        upstream app_servers {
          server app1:80;
          server app2:80;
        }
        server {
          listen [::]:80;
          listen 80;

          location / {
            proxy_pass http://app_servers;
          }
        }
    ports:
      - "80:80"
    command:
      /bin/sh -c "echo \"$$NGINX_CONFIG\" > /etc/nginx/conf.d/default.conf; nginx -g \"daemon off;\""
    depends_on:
      - app1
      - app2

networks:
  default:
