version: '3'
services:

  db:
    image: percona:8
    restart: always
    networks:
      default:
    environment:
      MYSQL_ROOT_PASSWORD: supersecret

  app1:
    image: nginxdemos/hello
    container_name: app1
    ports:
      - "8090:80"
    networks:
      default:

  app2:
    image: nginxdemos/hello
    container_name: app2
    ports:
      - "8091:80"
    networks:
      default:

  nginx:
    image: nginx:latest
    container_name: lb
    environment:
      NGINX_CONFIG: |
        upstream app_servers {
          server 127.0.0.1:8090;
          server 127.0.0.1:8091;
        }
        server {
          listen [::]:80;
          listen 80;

          location / {
            proxy_pass http://app_servers;
          }
        }
    ports:
      - "80:80"
    networks:
      default:
    command:
      /bin/sh -c "echo \"$$NGINX_CONFIG\" > /etc/nginx/conf.d/default.conf; nginx -g \"daemon off;\""

networks:
  default:
